{
  "openapi": "3.0.3",
  "info": {
    "title": "Nethris EmployerD Integration API",
    "description": "API for integrating Pivot with Nethris and EmployerD payroll systems. This API provides endpoints for employee search, company location retrieval, and automated employee synchronization.",
    "version": "1.0.0",
    "contact": {
      "name": "Pivot Support",
      "email": "support@pivot.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://pivot.com/terms"
    }
  },
  "servers": [
    {
        "url": "https://us-central1-pivot-app.cloudfunctions.net",
        "description": "Production Firebase Functions server"
      },
      {
        "url": "https://us-central1-pivot-not-production-project.cloudfunctions.net/",
        "description": "Development Firebase Functions server"
      },
      {
        "url": "http://localhost:5001/pivot-not-production-project/us-central1/",
        "description": "Localhost"
      }
  ],
  "tags": [
    {
      "name": "Employee Management",
      "description": "Employee search and data management"
    },
    {
      "name": "Company Management",
      "description": "Company location and settings management"
    },
    {
      "name": "Synchronization",
      "description": "Automated data synchronization processes"
    },
    {
      "name": "Authentication",
      "description": "Session management and authentication"
    }
  ],
  "paths": {
    "/getEmployeurDSearchedEmployees": {
      "post": {
        "tags": ["Employee Management"],
        "summary": "Search for employees in Nethris/EmployerD",
        "description": "Searches for employees in Nethris or EmployerD by name. Returns matching employees that can be linked to Pivot employee records. Works for both Nethris and EmployerD systems.",
        "operationId": "getEmployeurDSearchedEmployees",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["companyId", "searchedValue", "isEmployerD"],
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "Company ID in Pivot",
                    "example": "company123"
                  },
                  "searchedValue": {
                    "type": "string",
                    "description": "Employee name to search for",
                    "example": "John Doe"
                  },
                  "isEmployerD": {
                    "type": "boolean",
                    "description": "Whether to search in EmployerD (true) or Nethris (false)",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Employee search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Employee ID from Nethris/EmployerD",
                        "example": "EMP123456"
                      },
                      "name": {
                        "type": "string",
                        "description": "Employee full name",
                        "example": "John Doe"
                      },
                      "publicName": {
                        "type": "string",
                        "description": "Public display name",
                        "example": "John Doe"
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Employee email address",
                        "example": "john.doe@company.com"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - company requires reauthentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Company settings not found or no employees returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/getEmployerDCompanies": {
      "post": {
        "tags": ["Company Management"],
        "summary": "Get company locations from Nethris/EmployerD",
        "description": "Retrieves company locations and information from Nethris or EmployerD. Used to verify company settings and get available locations.",
        "operationId": "getEmployerDCompanies",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "appID",
                  "businessCode",
                  "userCode",
                  "userPassword",
                  "isEmployerD"
                ],
                "properties": {
                  "appID": {
                    "type": "string",
                    "description": "Application ID for Nethris/EmployerD",
                    "example": "APP123456"
                  },
                  "businessCode": {
                    "type": "string",
                    "description": "Business code for authentication",
                    "example": "BUS789"
                  },
                  "userCode": {
                    "type": "string",
                    "description": "User code for authentication",
                    "example": "USER456"
                  },
                  "userPassword": {
                    "type": "string",
                    "description": "User password for authentication",
                    "example": "password123"
                  },
                  "isEmployerD": {
                    "type": "boolean",
                    "description": "Whether to connect to EmployerD (true) or Nethris (false)",
                    "example": true
                  },
                  "companyId": {
                    "type": "string",
                    "description": "Optional company ID for error handling",
                    "example": "company123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company locations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "CO_NUMBER": {
                        "type": "string",
                        "description": "Company number in Nethris/EmployerD",
                        "example": "CO001"
                      },
                      "CO_NAME": {
                        "type": "string",
                        "description": "Company name",
                        "example": "Acme Corporation"
                      },
                      "CO_ADDRESS_STREET": {
                        "type": "string",
                        "description": "Company street address",
                        "example": "123 Main Street"
                      },
                      "CO_ADDRESS_CITY": {
                        "type": "string",
                        "description": "Company city",
                        "example": "Montreal"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - authentication failed or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code",
            "example": "invalid-argument"
          },
          "message": {
            "type": "string",
            "description": "Error message",
            "example": "Company ID and searched value are required"
          },
          "details": {
            "type": "object",
            "description": "Additional error details",
            "additionalProperties": true
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "appID": {
            "type": "string",
            "description": "Application ID for Nethris/EmployerD",
            "example": "APP123456"
          },
          "businessCode": {
            "type": "string",
            "description": "Business code for authentication",
            "example": "BUS789"
          },
          "userCode": {
            "type": "string",
            "description": "User code for authentication",
            "example": "USER456"
          },
          "userPassword": {
            "type": "string",
            "description": "User password for authentication",
            "example": "password123"
          },
          "CO_NUMBER": {
            "type": "string",
            "description": "Company number in Nethris/EmployerD",
            "example": "CO001"
          },
          "requiresReauth": {
            "type": "boolean",
            "description": "Whether the company requires reauthentication",
            "example": false
          }
        }
      },
      "ExternalEmployee": {
        "type": "object",
        "properties": {
          "FIRST_NAME": {
            "type": "string",
            "description": "Employee first name",
            "example": "John"
          },
          "LAST_NAME": {
            "type": "string",
            "description": "Employee last name",
            "example": "Doe"
          },
          "EMPL_NUMBER": {
            "type": "string",
            "description": "Employee number in Nethris/EmployerD",
            "example": "EMP123456"
          },
          "EMAIL": {
            "type": "string",
            "format": "email",
            "description": "Employee email address",
            "example": "john.doe@company.com"
          }
        }
      },
      "ExternalCompany": {
        "type": "object",
        "properties": {
          "CO_NUMBER": {
            "type": "string",
            "description": "Company number in Nethris/EmployerD",
            "example": "CO001"
          },
          "CO_NAME": {
            "type": "string",
            "description": "Company name",
            "example": "Acme Corporation"
          },
          "CO_ADDRESS_STREET": {
            "type": "string",
            "description": "Company street address",
            "example": "123 Main Street"
          },
          "CO_ADDRESS_CITY": {
            "type": "string",
            "description": "Company city",
            "example": "Montreal"
          }
        }
      },
      "BrokenRule": {
        "type": "object",
        "properties": {
          "RuleId": {
            "type": "string",
            "description": "Broken rule ID",
            "example": "RULE001"
          },
          "RuleMessage": {
            "type": "string",
            "description": "Broken rule message",
            "example": "Invalid credentials"
          },
          "RuleType": {
            "type": "string",
            "description": "Type of broken rule",
            "example": "AUTH"
          }
        }
      },
      "SessionResponse": {
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string",
            "description": "Session ID for API calls",
            "example": "sess_123456789"
          },
          "BrokenRules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BrokenRule"
            },
            "description": "Array of broken rules if authentication fails"
          }
        }
      },
      "EmployeeSearchResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Employee ID from Nethris/EmployerD",
            "example": "EMP123456"
          },
          "name": {
            "type": "string",
            "description": "Employee full name",
            "example": "John Doe"
          },
          "publicName": {
            "type": "string",
            "description": "Public display name",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Employee email address",
            "example": "john.doe@company.com"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Firebase custom token for authentication"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "externalDocs": {
    "description": "Nethris EmployerD Integration Documentation",
    "url": "https://pivot.com/docs/nethris-employerd-integration"
  }
}
